:root{
    --main-color:#009944;
    --green:#99CC00;
    --pale-yellow: #FFFF99;
    --sub-color:rgb(235,245,122);
    --light-bg: rgba(153, 204, 0, 0.06);
    --black: #000000;
}
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}

body{
    font-family: 'Noto Sans', sans-serif;
    color: var(--black);
    font-size: 14px;
    overflow-x: hidden;
    /* min-width: 950px; */
}
input{
  font-family: 'Noto Sans';
}
/* header */
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding:0 2rem;
    background:#fff
}

.header-logo{
    width: 145.14px;
    height: 32px;
}

.header-logo img{
    width: 100%;
}

.header-options{
    display: flex;
    gap:2rem;
    align-items: center;
}

.header-options span{
    color: #CDCDCD;
}

.header-options-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-options-item-bold{
    font-weight: 700;
}

.header-options-item-icon{
    width: 32px;
    height: 32px;
    border-radius:50%;
    background: #E7E7E7;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* sidebar */

.sidebar{
    position: fixed;
    top: 56px;
    left: 0;
    height: 100%;
    width: 225px;
    background: var(--green);
    z-index: 100;
    transition: all 0.2s ease;
  }

  .sidebar-toggle{
      width: 100%;
      display: flex;
      justify-content: flex-end;
  }

  .sidebar-toggle .menu-toggle{
    padding:0.4rem;
    cursor: pointer;
  }
  .sidebar.close .sidebar-toggle{
    justify-content: center;
  }

  .sidebar.close{
    width: 52px;
  }

  .sidebar .nav-links{
    height: 100%;
    padding: 0;
    padding-bottom: 6.3rem;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }

  .sidebar.close .sidebar-toggle img{
    transform: rotate(180deg);
  }

  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
  }



  .sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    height:40px;
    padding:1rem;
    cursor: pointer;
    border-left:4px solid var(--green);
    border-right:4px solid var(--green);
    margin-bottom:0.5rem;
  }
  .sidebar .nav-links li .icon-link:hover, .sidebar .nav-links li .icon-link.active{
    border-left-color: #1C1C1C;
  }
  .sidebar .nav-links li .icon-link:hover img, .sidebar .nav-links li .icon-link.active img{
    filter: brightness(0) invert(1);
  }
  .sidebar .nav-links li .icon-link:hover .link_name, .sidebar .nav-links li .icon-link.active .link_name{
    color: #fff;
  }
  .sidebar.close .nav-links li .icon-link{
    justify-content:center;
  }

  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-weight: 400;
    color: #000000;
    margin-left: 1rem;
  }
  .sidebar.close .nav-links li a .link_name{
    display: none;
    pointer-events: none;
  }


  /* content-wrapper */
  .content-wrapper{
    position: relative;
    height: calc(100vh - 56px);
    top: 56px;
    left: 225px;
    width: calc(100% - 225px);
    transition: all 0.2s ease;
    /* overflow: hidden; */
  }
  .sidebar.close ~ .content-wrapper{
    left: 52px;
    width: calc(100% - 52px);
  }

  .page-header{
    background: #fff;
    width: 100%;
    padding: 0 1.5rem;
    border: 1px solid #F2F2F2;
  }
  .page-header .sub-menu{
    display: flex;
  }
  .page-header .sub-menu .link-name{
    text-transform:uppercase;
    margin-right:4rem;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
  }
  .page-header .sub-menu .link-name:hover{
    border-color: #547100;
  }
  .page-header .sub-menu .link-name a{
    color:#808080;
    white-space: nowrap;
  }
  .page-header .sub-menu .link-name:hover a{
    color: #547100;
    font-weight: 600;
  }
  .page-header .sub-menu .link-name.active{
    border-color: #547100;
  }
  .page-header .sub-menu .link-name.active a{
    color: #547100;
    font-weight: 600;
  }
  /* .page-header .page-header-links {
    margin-bottom: 10px;
  }
  .page-header .page-header-links .icon{
    font-size:10px;
    margin: 0 0.5rem;
    color:#AAAAAA;
  } */

  .page-header .page-header-content{
      display: flex;
      gap:0.5rem;
      margin: 1rem 0;
  }

  .page-header .page-header-content p{
    font-size: 24px;
    text-transform: uppercase;
    font-weight:600;
}

.page-main{
  padding:1.5rem;
  background:rgb(250,250,250);
  height:78vh;
  position: relative;
}

.btn-primary{
    padding:0.6rem;
    width: 140px;
    color:#fff;
    background:var(--green);
    font-weight:700;
    cursor: pointer;
    text-transform:uppercase;
    border:1px solid var(--green);
    border-radius: 0.25rem;
    margin-left: 0.75rem;
}

.btn-secondary{
    padding:0.6rem;
    width: 140px;
    color: var(--green);
    background:#fff;
    font-weight:700;
    cursor: pointer;
    text-transform:uppercase;
    border-radius: 0.25rem;
    border:1px solid var(--green);
}

.cursor{
  cursor: pointer;
}

@media screen and (max-width:1300px){
  .page-header .sub-menu .link-name{
    margin-right:1.25rem;
  }
}
@media screen and (max-width:1200px){
  .page-header .sub-menu .link-name a{
    font-size:12px;
  }
  .page-header .sub-menu .link-name{
    margin-right:1rem;
  }
  .sidebar {
    width: 200px;
  }
  .content-wrapper {
    left: 200px;
    width: calc(100% - 200px);
  }
  .sidebar .nav-links li .icon-link {
    padding: 0.5rem;
  }


}

@media screen and (max-width:950px){
  .page-header .sub-menu .link-name a{
    font-size:11px;
  }
  .page-header .sub-menu .link-name{
    margin-right:0.75rem;
  }
  .sidebar {
    width: 180px;
  }
  .content-wrapper {
    left: 180px;
    width: calc(100% - 180px);
  }
  .header-options {

    gap: 0.5rem;
  }
  
}