.agent-list__header span{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.agent-list__header img{
    cursor: pointer;
}

.agent-list__body {
    height: fit-content;
}
.agent-list__body .noti-number{
    background: #FBFBFB;
    padding: 16px;
    height: fit-content;
}
.agent-list__body .noti-number p{
    font-weight: 500;
}
.agent-list__body .noti-number p span{
    color: #EE0000;
    font-weight: 400;
}

.noti-number__group{
    display: flex;
    justify-content: space-between;
}

.noti-number__group button{
    background-color: #99CC00;
    width: 140px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.noti-number__group button img{
    margin-right: 0.5rem;
}

.agent-list__body__table{
    padding: 16px;
    padding-top: 0;
}

.table {
    /* background-color: greenyellow; */
    border-radius: 4px;
    margin-top: 10px;
    height: 100%;
    width: 100%;
    border: 1px solid #ECECEC ;
}

.container-bar {
    display: flex;
    padding: 16px;
    gap: 16px;
}


.container-bar .form-group{
    display: flex;
    flex-direction: column;
    flex: 1;

}

.container-bar .form-group .title{
    font-weight: 500;
    margin-bottom: 6px;
}
.container-bar .form-group .search{
    height: 40px;
    width: 376px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    display: flex;
    
}
.container-bar .form-group .search input{
    outline: none;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 11px 16px;
}
.iconSearch {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(81%) sepia(45%) saturate(2330%) hue-rotate(24deg) brightness(90%) contrast(101%);
    margin: 10px;
    cursor: pointer;
}


.containerItemAgentEmpty {
    display: flex;
    border: 1px solid #ECECEC;
    flex-direction: row;
    align-items: center;
    height: 4vh;
}

.drag th{
    padding: 8px;
}

.drag td{
    padding: 8px;
}

/* .checkboxStatus {
    margin: 1vw;
} */
.statusOffline{
    font-size: calc(0.5vw + 0.6vh);
    color: #707070;
    background-color: #ECECEC;
    border: 1px solid #707070;
    padding: 3px 10px 3px 10px;
    border-radius: 100px;
}
.statusOnHoding {
    font-size: calc(0.5vw + 0.6vh);
    color: #FFB800;
    background-color: #FFF7E1;
    border: 1px solid #FFB800;
    padding: 3px 10px 3px 10px;
    border-radius: 100px;
}
.statusOnHodingInTransferredCall {
    font-size: calc(0.6vh + 0.5vw);
    color: #FFB800;
    background-color: #FFF7E1;
    border: 1px solid #FFB800;
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
}
.statusAcceptable {
    font-size: calc(0.5vw + 0.6vh);
    color: #056FED;
    background-color: #E2EFFF;
    border: 1px solid #056FED;
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
}

.statusIncomingCall {
    font-size: calc(0.5vw + 0.6vh);
    color: #009944;
    background-color: #E7FFF2;
    border: 1px solid #009944;
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
}
.statusInACall {
    font-size: calc(0.5vw + 0.6vh);
    color: #E30000;
    background-color: #FFE1E1;
    border: 1px solid #E30000;
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
}
.sumContainerSearch {
    flex: 2;
    width: 100%;
}
.sumContainerSkillGroup {
    flex: 1;
    width: 100%;
}
.sumContainerStatus{
    flex: 1;
    width: 100%;
}
.titleSkillGroup {
    padding-left: 1vw;
}
.containercbStatus {
    /* background-color: red; */
    width: 4vw !important;
}

.callButton{
    cursor: pointer;
    /* height: 30px;
    width: 30px;
    background-color: #009944; */
}